

.ProductsWrapper{
    margin: 20px;
    header{
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding-bottom: 10px;
        .open-btn{
            width: 90px;
            height: 45px;
        }
    }
    
    .products__container {

    }
   
}
